@tailwind base;
@tailwind components;
@tailwind utilities;


.angular-bg {
    background: conic-gradient(from 0.25turn at 30% 50%, #febf7b, 70deg, #ffa84c, 360deg, #fa8b15);
}

.loginButton {
    font-weight: bold;
    font-size: large;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: lightsalmon;
}

input, select {
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: 10px;
}

.linkButton {
    color: blue;
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}

.iconFix {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer {
    border-radius: 10px;
    height: 40px;
    width: 40px;
    background-color: whitesmoke;
    transition: all .8s;
}

.iconContainer:hover {
    border-radius: 15px;
    background-color: black;
    color: white;
}

span {
    cursor: pointer;
}